.about {
  margin-top: 100px;
  h2 {
    @include headline-regular();

    span {
      @include headline-regular_italic();
      color: $text-accent_color;
    }
  }
  img {
    transition: 0.4s;
  }
  .pictures-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;

    .first-pictures-box {

      div {
        display: flex;
        flex-direction: column;
      }
      .picture-wrap:nth-child(1) {
        height: 590px;
      }
      .picture-wrap:nth-child(2) {
        height: 430px;
      }
    }
    .second-pictures-box {
      .picture-wrap:nth-child(1) {
        height: 430px;
      }
      .picture-wrap:nth-child(2) {
        height: 590px;
      }
    }
  }

  .picture-wrap {
    @include flex-center();
    margin-bottom: 40px;
    border-radius: 20px;
    width: 660px;
    overflow: hidden;
    transition: 0.4s;

    &:hover {
      img {
        transform: scale(0.91);
      }
    }
  }
}