.slider-control-container {
  display: flex;
  margin-top: 40px;

  .vie-line {
    position: relative;
    border-radius: 100px;
    margin-right: 12px;
    width: 40px;
    height: 4px;
    background-color: $border-light_color;

    &:last-child {
      margin-right: 0px;
    }
  }

  .vie-line-fill {
    position: absolute;
    background-color: $border-dark_color;
    border-radius: 100px;
    height: 100%;
    width: 0%;
    transition: 0.3s;
  }
  .fill {
    .vie-line-fill {
      animation:  linear fill 5s;
    }
  }
}

@keyframes fill {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}