@mixin showBorderBottom($color) {
  &::after {
    content: '';
    display: block;
    position: relative;
    margin: auto;
    height: 2px;
    width: 0%;
    background-color: $color;
    transition: 0.3s;
    opacity: 0;
  }
}
@mixin showBorderBottomActive {
  &::after {
    width: 100%;
    opacity: 1;
  }
}
@mixin showBorderBottomHover {
  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-primary($h, $w) {
  @include flex_center();
  width: #{$w}px;
  height: #{$h}px;
  border-radius: 100px;
  background-color: $background_color;
}