$background_color: rgba(225, 212, 201, 1);
$container_color: rgba(102, 95, 85, 1);
$backdrop_color: rgba(64, 63, 61, 0.8);

$text-dark_color: rgba(64, 63, 61, 1);
$text-light_color: rgba(225, 212, 201, 1);
$text-accent_color: rgba(176, 144, 122, 1);

$border-light_color: rgba(193, 182, 173, 1);
$border-dark_color: rgba(102, 95, 85, 1);

$desktop-width: 1440px;
$tablet-width: 768px;

$point-to-transform-in-tablet: 970px;
$point-to-transform-in-mobile: 720px;