.mobile-app {
  margin-top: 60px;

  .content-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  .mobile-screens {
    background-image: url(/assets/img/mobile-screens.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 630px;
    max-height: 630px;
    width: 44vmax;
    height: 44vmax;
  }
  .app-Store-Btn {
    margin-right: 20px;
  }

  .download-container {
    max-width: 630px;
    width: 42vmax;
    align-self: center;

    h2 {
      @include headline-regular();

      span {
        @include headline-regular_italic();
        color: $text-accent_color;
      }
    }
    .offer-text {
      @include paragraph-medium();
      margin: 40px 0;
    }
  }
  .btn-container {
    display: flex;
  }
}

@media (max-width: $point-to-transform-in-tablet ) {
  .mobile-app {
    .content-container {
      flex-direction: column;
    }
    .download-container {
      width: auto;
      max-width: 675px;
      align-self: start;

    }

    .mobile-screens {
      align-self: center;
      width: 82vmax;
      height: 82vmax;
      margin-top: 97px;
    }
  }
}

@media (max-width: $point-to-transform-in-mobile ) {
  .mobile-app {
    .download-container {
      h2 {
        @include headline-regular_mobile();
  
        span {
          @include headline-regular_italic_mobile();
        }
      }
    }
    .btn-container {
      display: block;

      .app-Store-Btn {
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
    .mobile-screens {
      background-position: center;
      margin-top: 40px;
      height: 100%;
      width: 90vw;
      min-height: 348px;
    }
  }
}