.enjoy {
  .content {
    background-image: url(/assets/img/enjoy_bg.png);
    position: relative;
    background-position-y: center;
    background-size: cover;
    border-radius: 40px;
    padding: 100px;
    margin-top: 16px;
    overflow: hidden;
  }
  .offerBlock {
    max-width: 540px;
    position: relative;
    z-index: 1;

    h1 {
      @include headline-text();
      color: $text-light_color;

      span {
        @include headline-text_italic();
        color: $text-accent_color;
      }
    }
    p {
      @include paragraph-regular();
      font-weight: 400;
      color: $text-light_color;
      margin: 40px 0;
    }

    .menu-btn {
      @include button-primary(65, 200);
      color: $text-dark_color;
      transition: 1s;

      p {
        @include paragraph-regular();
        position: relative;
        color: $text-dark_color;
        right: -13px;
        transition: 0.4s;
      }

      &::after {
        content: '';
        display: block;
        position: relative;
        background-image: url(/assets/img/coffee-cup.svg);
        margin-left: 8px;
        width: 20px;
        height: 20px;
        transition: 0.3s;
        opacity: 0;
      }
      &:hover p {
        right: 0px;
      }
      &:hover::after {
        opacity: 1;
      }
    }
  }
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: $point-to-transform-in-tablet ) {
  .enjoy {
    .content {
      padding: 100px 60px;
      background-position: center center;
  
      .menu-btn {
        p {
          right: 0;
        }
        &::after {
          opacity: 1;
        }
      }
    }  
  }
}

@media (max-width: $point-to-transform-in-mobile ) {
  .enjoy {
    .content {
      padding: 60px 16px;
    }

    .offerBlock {
      h1 {
        @include headline-text_mobile();
  
        span {
          @include headline-text_italic_mobile();
        }
      }
    }
  }
}