.menu {
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding-bottom: 80px;
  }

  h1 {
    @include headline-regular();
    color: $text-dark_color;
    text-align: center;
    width: 60%;

    span {
      @include headline-regular_italic();
      color: $text-accent_color;
    }
  }
  .refresh-btn {
    display: none;
    width: 60px;
    height: 60px;
    background-image: url(/assets/img/refresh-btn.svg);
    margin-top: 20px;
    cursor: pointer;
  }
}

@media (max-width: 1350px) {
  .menu {
    .content-container {
      padding: 0 20px;
      padding-bottom: 100px;
    }
    h1 {
      width: 95%;
    }
  }
}

@media (max-width: 1050px) {
  .menu {
    .content-container {
      padding-bottom: 100px;
    }

    .refresh-btn {
      display: block;
    }
  }
}

@media (max-width: 740px) {
  .menu {
    .content-container {
      padding: 0 16px;
      padding-bottom: 100px;
    }
    h1 {
      @include headline-regular_mobile();

      span {
        @include headline-regular_italic_mobile();
      }
    }
  }
}