* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: transparent;
  // border: solid rgba(0, 49, 128, 0.594);
  // box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $background_color;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $text-dark_color;
}

main {
  transition: 0.4s;
}
.content-container {
  width: 100%;
  max-width: $desktop-width;
  margin: auto;
  padding: 0 40px;
}

button {
  border: none;
  cursor: pointer;
}

@media (max-width: $point-to-transform-in-mobile ) {
  .content-container {
    padding: 0 16px;
  }
}