* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: transparent;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $background_color;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $text-dark_color;
}

header,
section,
footer {
  padding: 0 40px;
}

main {
  transition: 0.4s;
}
.content-container {
  width: 100%;
  max-width: $desktop-width;
  margin: auto;
}

button {
  border: none;
  cursor: pointer;
}