* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: transparent;
}

body {
  font-family: 'Inter';
  background-color: $background_color;
  padding-top: 20px;
}

button {
  border: none;
  cursor: pointer;
}

.content-container {
  width: 100%;
  max-width: $desktop-width;
  margin: auto;
  padding: 0 40px;
}